@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  next-route-announcer,
  nextjs-portal {
    display: none;
  }

  body {
    @apply flex flex-col justify-between h-screen bg-background font-medium;
  }

  .cabecalho {
    @apply text-white flex h-10vh fixed w-full;

    nav {
      @apply h-full;

      ul {
        @apply flex w-full h-full gap-5 items-center;
      }

      & a {
        @apply text-xl;
        @apply hover:text-2xl hover:t-tx-color;
        @apply transition-all duration-200 ease-in-out;
      }
    }
  }

  .home-diagnosticar-container {
    @apply flex flex-col items-center justify-center h-90vh;
    background-image: url("../img/construction.png");
    background-repeat: no-repeat;
    background-clip: inherit;
    background-position: center;
    background-size: 30%;

    h1 {
      @apply text-4xl text-center;
    }
    h2 {
      @apply text-2xl text-center;
    }
  }

  .h-10vh {
    height: 10vh;
  }
  .h-80vh {
    height: 80vh;
  }
  .h-90vh {
    height: 90vh;
  }
  .t-color {
    color: #b7dff4;
  }
  .t-tx-color {
    color: #2762ca;
  }
  .bg-color {
    background-color: #b7dff4;
  }
  .bg-background {
    background-color: #2762ca;
  }

  .home-container {
    background-image: linear-gradient(#7fccf8d5, #000000a1),
      url("../img/connectCar.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(px);
  }
  .sobre-nos-container {
    background-image: linear-gradient(#7fccf8d5, #000000a1),
      url("../img/we.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(px);
  }
  .sobre-projeto-container {
    background-image: linear-gradient(#7fccf8d5, #000000a1),
      url("../img/we.png");
  }
}
